{
	"presets": ["@babel/preset-flow", "@babel/preset-react", "@babel/preset-env"],
	"env": {
		"dev": {
			"plugins": [
				// "transform-object-rest-spread",
				// "transform-decorators-legacy",
				// "transform-runtime",
				[
					"react-transform",
					{
						"transforms": [
							{
								"transform": "livereactload/babel-transform",
								"imports": ["react"]
							}
						]
					}
				]
			]
		}
		// "production": {
		// 	"plugins": ["transform-object-rest-spread", "transform-decorators-legacy", "transform-runtime"]
		// }
	}
}
